#kapital{
    .bank-img{
        position: relative;
        .bank-txt{
            position: absolute;
            top: 40%;
            left: 30%;
            width: 100%;
            height: 100%;
       
        }
    }

}